/* ------------------------- Corpo ------------------------------ */

html{
    font-size: 24px;
}

body{
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-flow: row nowrap;
    margin: 0;
    font-family: "Nunito";
}

#mobile-header{
    display: none;
}

/* ------------------------- Barra Lateral ------------------------------ */

#side-bar{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 80px;
    background-color: #41529F;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
}

.side-bar__icon{
    text-decoration: none;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
    transition: 0.5s;
}

.side-bar__icon.disabled {
    color: #61BBB6;
    cursor: none;
    pointer-events: none;
}

.side-bar__icon:hover{
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: #61BBB6;
}

/* ------------------------- Conteúdo ------------------------------ */

#content{
    display: flex;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    scrollbar-width: thin;
}

#content::-webkit-scrollbar {
    width: 8px;
}

#content::-webkit-scrollbar-thumb {
    background: #41529F;
    border-radius: 10px;
}
  
#content::-webkit-scrollbar-thumb:hover {
    background: #303f7e;
}

/* ------------------------- Topo do Conteúdo ------------------------------ */

#top-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 16vh;
    width: 100%;
}

#welcome_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.welcome-text__hello{
    font-size: 0.75rem;
    font-weight: 600;
    color: #41529F;
}

.welcome-text__welcome{
    font-size: 0.75rem;
}

#avatar{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 20px;
}

.logo__image{
    height: 30%;
    margin-right: 10px;
}

.logo__text{
    font-size: 1rem;
    font-weight: 400;
    color: #41529F;
}

/* ------------------------- Centro do Conteúdo ------------------------------ */

#center-container{
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 80%;
}

.title-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
    height: 1.08rem;
}

/*----------  selector  ----------*/

.custom-select {
    position: relative;
}
  
.custom-select select {
    display: none;
}

.select-selected{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    padding: 4px 2px;
    cursor: pointer;
}
  
.select-selected__text {
    flex: 8;
    display: flex;
    justify-content: flex-start;
    color: #41529F;
    font-size: 1.08rem;
    padding-left: 10px;
}

.select-selected__icon{
    display: flex;
    justify-content: center;
    flex: 2;
    color: #41529F;
    padding-right: 10px;
    font-size: 0.9rem;
}

  
  /* style the items (options), including the selected item: */
  .select-items div{
    font-size: 1.08rem;
    color: #41529F;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 100%;
    padding: 4px 2px;
    cursor: pointer;
    border-color: transparent transparent rgba(97, 188, 182, 0.2) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    overflow-x: hidden;

    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #41529F;
    width: 300px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(97, 188, 182, 0.2);
  }

/*----------  Refresh Button  ----------*/

.refresh-btn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.refresh-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    border-radius: 50%;
    color: #ffffff;
    background-color: #61BBB6;
    border: 1px solid #61BBB6;
    cursor: pointer;
}

.refresh-btn button:hover{
    background-color: #fff;
    color: #61BBB6;
}


.title-container__icon{
    font-size: 1.08rem;
    color: #41529F;
}


.line-1{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.border-container{
    border: 2px solid #41529F;
    border-radius: 10px;
}

/*----------  Gráfico de Pizza  ----------*/

.pizza-graph{
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    padding: 1rem;
}

.pizza-graph__legend{
    display: flex;
    flex-flow: column nowrap;
    width: 60%
}

.pizza-graph__title{
    font-size: 0.8rem;
    font-weight: 600;
    flex: 1;
}

#pizza-legend{
    flex: 9;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0.5rem 0px;
}

.legenda__linha{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.legenda__color{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.1rem;
}

.legenda__text{
    margin-left: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}

#pizza{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

/*----------  Tempo de Pausa  ----------*/

.break-time{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 33%;
    padding: 0.5rem;
}

.break-time__text{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem;
    font-weight: 600;
    width: 80%;
}

.break-time__time{
    flex: 8;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #41529F;
    font-size: 1rem;
    font-weight: 600;
}

#tempo-pausa{
    font-size: 2.4rem;
}

/*----------  Gráfico de Linhas  ----------*/

.line-graph{
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 2rem);
    flex: 1;
    padding: 1rem;
}

.line-graph__header{
    flex: 1;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.legend-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 600;
}

.legend-item--atual{
    color: #41529F;
}

.legend-item--atual .legend-dot{
    background-color: #41529F;
}

.legend-item--passada{
    color: #61BBB6;
}

.legend-item--passada .legend-dot{
    background-color: #61BBB6;
}

.legend-dot{
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
}

.legend-text{
    font-style: 0.6rem;
    margin-left: 5px;
}

.line-graph__title{
    font-size: 0.7rem;
    font-weight: 600;
}

.line-graph__days{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.line-graph__scale{
    font-size: 14px;
}

#line-graph{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* ------------------------- Fundo do Conteúdo ------------------------------ */

#bottom-container{
    display: flex;
    height: 16vh;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.back-button{
    display: flex;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    color: #41529F;
    transition: 0.5s;
    margin-right: 25px;
}

.back-button:hover{
    color: #61BBB6;
}

.back-button__icon{
    font-size: 0.83rem;
    color: inherit;
    margin-right: 10px;
}

.back-button__text{
    font-size: 0.66rem;
    color: inherit;
    font-weight: bold;
    margin-right: 10px;
}

/* ------------------------- Mobile ------------------------------ */

#mobile-side-bar{
    display: none;
}

@media only screen and (max-width: 768px) {

    html{
        font-size: 22px;
    }

/*----------  Header  ----------*/

    #side-bar {
      display: none;
    }

    #mobile-header{
        display: flex;
        background-color: #41529F;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        align-items: center;
    }

    #open-side-bar{
        color: white;
        font-size: 1.25rem;
        margin-left: 20px;
        transition: 0.5s;
    }

    #white-logo{
        height: 40px;
        margin-right: 20px;
    }

/*----------  Alteração Content  ----------*/

    #avatar{
    height: 50px;
    width: 50px;
    }

    #welcome_container{
        margin: 5px 0px 2px 0px;
    }

    .logo{
        display: none;
    }

    #content{
        padding: 0px 0px 0px 0px;
        align-items: center;
        scrollbar-width: 0px;
        height: fit-content;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #content::-webkit-scrollbar {
        width: 0px;
    }

    #top-container{
        width: 80%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .select-selected{
        width: 270px;
    }

    .select-items{
        width: 270px;
    }

    .line-1{
        margin-bottom: 10px;
    }

    .pizza-graph{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin-bottom: 10px;
    }

    .break-time{
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
    }

    .break-time__text{
        width: auto;
        flex: none;
        margin: 0;
    }

    .break-time__time{
        width: auto;
        flex: none;
        flex-flow: row;
    }

    #tempo-pausa{
        font-size: 1rem;
        padding-right: 5px;
    }

    #bottom-container{
        justify-content: center;
    }

    .back-button{
        margin-right: 0;
    }

/*----------  Side-bar  ----------*/

    #mobile-side-bar{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 0;
        overflow-y: hidden;
        background-color: rgba(65, 82, 159, 0.95);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        transition: 0.5s;
    }

    #close-side-bar{
        margin-bottom: 50px;
        margin-top: 20px;
    }

    #close-side-bar:hover{
        color: #b4e4e1;
    }

    .mobile-side-bar__option{
        font-size: 1.5rem;
        color: white;
        margin-bottom: 30px;
        transition: 0.5s;
        text-decoration: none;
        cursor: pointer;
    }

    .mobile-side-bar__option:hover{
        color: #61BBB6;
        font-size: 1.6rem;
    }

    .mobile-side-bar__option.disabled {
        color: #61BBB6;
        cursor: none;
        pointer-events: none;
    }
    
  }

  @media only screen and (max-width: 600px) {

    html{
        font-size: 20px;
    }

    #avatar{
        height: 45px;
        width: 45px;
        }
}

@media only screen and (max-width: 320px) {

    html{
        font-size: 18px;
    }
}